.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: fit-content;

    background-color: rgb(228, 238, 238);

    padding: 1rem;

    border-radius: 10px;

    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.avatar{
    border-radius: 20px;
}
.cardData{
    width: 200px;

    margin-top: -1rem;

    text-align: center;

    padding-block: 0.25rem;
    border-radius: 10px;

    background-color: rgb(246, 249, 248);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.cardData>a{
    margin-inline: 0.2rem;
    font-weight: bold;
}

.cardData>a:hover{
    text-decoration: underline;
}